@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="font-page">
    <h1 class="display-4">Baker's Rentals</h1>
    <p>Welcome to the best rental property management System.</p>
    <img src="/images/RentalsFrontPage.jpg" alt="Rental Propertys Example" id="front-page-img" />
</div>
